body {
    background-color: rgba(118, 195, 191, 0.2);
}

.common {
    &__container {
        max-width: 540px;
        background-color: colors(primary);
        margin: 0 auto;
        position: relative;

        &--corp {
            max-width: 9999px;
        }
    }
}
